@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    transition: 200ms;
}

ul {
    padding: 0;
    list-style-type: none;
}

.back_logo {
    display: flex;
    align-items: center;
    height: 55px;
    justify-content: space-between;
    /* max-width: 82%; */
    /* padding-left: 5px; */
    padding-right: 5px;
}
.back_logo .back_btn{
    cursor: pointer;
    margin-left: 20px;
    color: #fff;
    font-size: 21px;
}
.back_logo .logo{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.back_logo img {
    vertical-align: middle;
    max-width: 100%;
}
.back_logo .search_btn{
    display: none;
}
.back_logo .search_btn i {
    font-size: 18px;
    vertical-align: middle;
    color: #f4992d;
}

.container {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    width: 100%;
    max-width: 414px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.content {
    border-radius: 0px;
    width: 100%;
    height: auto;
    background: #fff;
    overflow: hidden;
}

nav {
    background-color: #000;
    height: 55px;
    position: relative;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 22px;
    right: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: flex;
    width: 18px;
    height: 1px;
    margin-bottom: 5px;
    position: relative;
    background: #EA7F0B;
    border-radius: 3px;
    z-index: 1;
    transform-origin: -1px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #EA7F0B, 100%;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: fixed;
    height: 100vh;
    width: 185px;
    box-shadow: 0 0 10px #3b3e51;
    top: 0;
    left: 0;
    padding: 30px;
    background-color: #3b3e51;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-166%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li a {
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    display: block;
    padding: 5px 10px;
}

#menu li {
    transition-delay: 2s;
}

#menuToggle input:checked~ul {
    transform: none;
}

.welcome_content {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
    height: calc( 100vh - 55px );
}

.payment_h {
    height: 100vh;
}

.welcome_content h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #3B3E51;
    margin: 50px 0 24px 0;
}

.welcome_content p.first {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #3B3E51;
    margin: 0 45px 35px;
}
.welcome_content p.second {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #3B3E51;
    margin: 0 50px 35px;
}

.welcome_content a {
    background: #F4992D;
    border-radius: 16px;
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    padding: 9px 16px;
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 50px auto 0;
}
.welcome_content a:hover {
    text-decoration: none;
}

.content_ragister {
    padding: 15px;
}

.user-profile {
    position: relative;
    text-align: center;
    padding-bottom: 25px;
    background-color: transparent !important;
}

.content_ragister h6 {
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.02em;
}

.plus {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.content_ragister input {
    background: #F4F9FE;
    height: 50px;
    border: 0;
    border-radius: 12px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #3B3E51;
    padding: 10px 20px;
}

.content_ragister textarea {
    background: #F4F9FE;
    padding: 15px;
    font-size: 16px;
    line-height: 24px;
    height: 180px;
    border: 0;
    border-radius: 12px;
    resize: none;
}

.next_btn {
    background: #F4992D;
    border-radius: 20px;
    border: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 200px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    display: block;
    margin-top: 40px;
    padding: 0;
}

.add {
    background-color: #13C8FF;
}

.later_icon {
    text-align: center;
    padding: 20px 10px 10px;
}

.s_filed {
    position: relative;
}

.search_p {
    position: absolute;
    top: 13px;
    right: 15px;
}

.payment_option {
    text-align: center;
}

.payment_option h5 {
    font-size: 18px;
    font-weight: 400;
}

.pay_btn img {
    max-width: 80%;
}

.payment_option p {
    font-size: 15px;
    padding: 20px 0 30px;
    margin-bottom: 0;
}

.pay_btn {
    text-align: center;
    padding-top: 20px;
}

.form-control:focus {
    color: #495057;
    background-color: #F4F9FE;
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

hr {
    color: #F4F9FE;
    margin-top: 4rem;
}

p {
    margin-left: 10px;
}

input[type=range] {
  width: 30px;
  padding: 0;
}

input[type=text]:invalid {
  outline: 2px solid red;
}

.screen-reader-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
}


-- Yes or no --
/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

*
{
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}

*:focus
{
    outline: none;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f1f9f9;
}

#app-cover
{
    display: table;
    width: 600px;
    margin: 80px auto;
    counter-reset: button-counter;
}

.row
{
    display: table-row;
}

.toggle-button-cover
{
    display: block;
    position: relative;
    /* width: 384px; */
    box-sizing: border-box;
}
.toggle-button-cover span {
    position: absolute;
    font-size: 16px;
    color: #3B3E51;
}
.toggle-button-cover .toggle-title {
    left: 20px;
}

.button-cover
{
    height: 50px;
    margin: -3px 0;
    border-radius: 12px;
}

.button-cover:before
{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 15%;
    right: 2%;
    width: 80px;
    height: 35px;
    margin: 0;
    overflow: hidden;
    float: right;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
    position: absolute;
    right: 0%;
}

.btn-primary:hover {
    background-color: #F4992D;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: none;
}
.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 80px;
    height: 30px;
    background-color: #13C8FF;
    transition: 0.3s ease all;
    z-index: 1;
    border-radius: 48px;
}

/* Button 13 */
#button-13 .knobs:before, #button-13 .knobs:after, #button-13 .knobs span
{
    position: absolute;
    top: -5px;
    width: 20px;
    height: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

#button-13 .knobs:before, #button-13 .knobs:after
{
    color: white;
    z-index: 1;
}

#button-13 .knobs:before
{
    content: 'YES';
    left: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

#button-13 .knobs:after
{
    content: 'NO';
    right: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

#button-13 .knobs span
{
    width: 24px;
    left: 50px;
    background-color: white;
    z-index: 2;
    height: 24px;
    border-radius: 50%;
    top: 3px;
}

#button-13 .checkbox:checked + .knobs span
{
    left: 4px;
    background-color: white;
}
#button-13 .checkbox:checked ~ .layer
{
    background-color: red;
}

/*#button-13 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}*/


#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background-color: #143240;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(20, 50, 64, 0.76);
}

/*body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eff5f6;
}
*/
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: inherit;
  margin: 0 0 0.75em 0;
  color: #728c8d;
  text-align: center;
}

.box {
  display: block;
  position: relative;
  min-width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: visible;
}

.upload-options {
  position: relative;
  height: 35px;
  background-color: #13C8FF;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -18px;
  width: 35px;
  border: 5px solid white;
}
.upload-options:hover {
  background-color: #13C8FF;
}
.upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-options label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  justify-content: center;
}
.upload-options label::after {
  content: "add";
  font-family: "Material Icons";
  font-size: 1.5rem;
  color: white;
}
.upload-options label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.upload-options label span:hover i.material-icons {
  color: lightgray;
}

.js--image-preview {
  height: 100%;
  width: 100%;
  text-align: center;
}
.js--image-preview::after {
  content: "photo_size_select_actual";
  font-family: "Material Icons";
  font-size: 4.5em;
  color: #e6e6e6;
  position: relative;
  top: 20px;
}
.video .js--image-preview::after {
    content: "video_camera_back";
}
.js--image-preview.js--no-default::after {
  display: none;
}

i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: rgba(95, 158, 160, 0.2);
  border-radius: 100%;
  transform: scale(0);
}

.animate {
  -webkit-animation: ripple 0.4s linear;
          animation: ripple 0.4s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.image-content {
    display: flex;
}

.image-content > div:first-child {
    width: 40%;
    text-align: center;
}
.image-content > div:nth-child(2) {
    width: 60%;
    text-align: left;
}

.image-title {
    margin-bottom: 15px;
    margin-left: 20px;
}

.image-content .for-image {
    width: 120px;
    height: 120px;
    margin: auto;
    background-color: #f2f2f2;
}

.image-content .for-image::after {
    top: 10px;
}
.image-content .for-size {
    margin-top: 5px;
    display: flex;
}
.image-content .for-size > div {
    width: 50%;
    text-align: left;
}
.image-content .for-size p {
    margin: 1px;
    font-size: 12px;
}
.thumbnails {
    width: 100%;
    margin: 30px auto 20px;
    display: flex;
}
.thumbnails > div {
    width: 20%;
    text-align: center;
    justify-content: center;
}
.thumbnails img {
    width: 50px;
    height: 50px;
    background-color: #f4f9fe;
    border: none;
}
.thumbnails + hr {
    margin-top: 15px;
}

.vue-js-switch .v-switch-core {
    width: 80px;
    height: 30px;
    border-radius: 48px;
}

.content_ragister select {
    background: #f4f9fe;
    height: 50px;
    border: 0;
    border-radius: 12px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    padding: 10px 20px;
    /* fix safari issue */
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'><path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/></svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
}

